// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


*{
    padding: 0;
    margin: 0;
}

.route-link{
    color: #fff;
    text-transform: none;
    text-decoration: none;
}
.welcome {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.option{

    &_list{
        display: none;
    }
}

